{{ define "main" }}
<article class="post">
    <header>
        <h2>{{ .Title }}</h2>
        <span class="tags">
            {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </span>
        <span class="meta">
            <label>Por: <b>{{ .Params.Author }}</b></label>
            <label>Publicado <b>{{ .Date.Format "January 2, 2006" }}</b></label>
            <label>Tiempo de lectura: <b>{{ math.Round (div (countwords .Content) 200.0) }} minutos</b>.</label>
        </span>
    </header>
    <section class="body">
        {{ .Content }}
    </section>
    <section class="related">
        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
        <h3>Relacionados</h3>
        <ul class="post-list-short">
            {{ range . }}
            {{ partial "post_summary.html" . }}
            {{ end }}
        </ul>
        {{ end }}
    </section>
    <section class="comments">
        <h3>Comentar</h3>
        {{ if .Params.disableComments }}
        <p>Comentarios están inhabilitados para este post</p>
        {{ else }}
        {{ template "_internal/disqus.html" . }}
        {{ end }}
    </section>
</article>
{{ end }}
