{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}
<h3>🌐 Medios:</h3>
<ul>
    {{ range .Site.Data.redes.accounts }}
    <li><b><a href="{{ .url }}" target="_blank">{{ .name }}</a></b></li>
    {{ end }}
</ul>
<hr />
<h3>👥 Discord:</h3>
<iframe src="https://discord.com/widget?id=764989185077542942&theme=dark" class="full-height" height="300" width="100%" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<center>
    <button type="button" onclick="javascript:location.href='https://discord.gg/AEarh2kSvn';">
        <b>Invitación acceso</b>
    </button>
</center>
<hr/>
{{ end }}
