<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="
    {{- with .Page.Description -}}
    {{ . }}
    {{- else -}}
    {{ .Site.Params.description }}
    {{- end -}}">
    <meta property="og:image" content="{{ .Site.baseURL}}static/logo.png" />
    <title>
        {{- if .Page.IsHome -}}
        {{ .Site.Title }}
        {{- else -}}
        {{ .Title }} – {{ .Site.Title }}
        {{- end -}}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{"favicon.ico"|relURL}}">
    {{ $style := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
    {{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">
    <link rel="stylesheet" href="{{$syntax.RelPermalink}}">
    {{- range .AlternativeOutputFormats -}}
    {{- $link := `
    <link rel="%s" type="%s" href="%s" title="%s">` -}}
    {{- $title := printf "%s - %s" $.Page.Title $.Site.Title -}}
    {{- if $.Page.IsHome -}}
    {{ $title = $.Site.Title }}
    {{- end -}}
    {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{- end }}
    {{ template "_internal/google_analytics_async.html" . }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7766642915413571"
            crossorigin="anonymous"></script>
</head>
