<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="
    {{- with .Page.Description -}}
    {{ . }}
    {{- else -}}
    {{ .Site.Params.description }}
    {{- end -}}">
    <!-- Open Graph -->
    <meta property="og:title" content="Gophers LATAM" />
    <meta property="og:description" content="fmt.Println('Comunidad de programadores Golang en Español.')" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gophers-latam.github.io" />
    <meta property="og:image" content="https://gophers-latam.github.io/assets/awesome.png" />
    <meta property="og:image:width" content="720" />
    <meta property="og:image:height" content="720" />
    <!-- Twitter Card (opcional) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Gophers LATAM" />
    <meta name="twitter:description" content="fmt.Println('Comunidad de programadores Golang en Español.')" />
    <meta name="twitter:image" content="https://gophers-latam.github.io/assets/awesome.png" />
    
    <!-- otros meta (opcionales) -->
    <link rel="canonical" href="https://gophers-latam.github.io" />
    <title>
        {{- if .Page.IsHome -}}
        {{ .Site.Title }}
        {{- else -}}
        {{ .Title }} – {{ .Site.Title }}
        {{- end -}}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{"favicon.ico"|relURL}}">
    {{ $style := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
    {{ $syntax := resources.Get "css/syntax.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">
    <link rel="stylesheet" href="{{$syntax.RelPermalink}}">
    <link href='https://fonts.googleapis.com/css2?family=Work+Sans' rel='stylesheet' type='text/css'>
    {{- range .AlternativeOutputFormats -}}
    {{- $link := `
    <link rel="%s" type="%s" href="%s" title="%s">` -}}
    {{- $title := printf "%s - %s" $.Page.Title $.Site.Title -}}
    {{- if $.Page.IsHome -}}
    {{ $title = $.Site.Title }}
    {{- end -}}
    {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
    {{- end }}
</head>
