{{ define "main" }}

<div class="home">
    <div class="home-head">
        <h1>Gophers LATAM</h1>
        <label>Comunidad de programadores Golang en Español-Latino.</label>
    </div>

    <div class="animation-gopher">
        <!-- https://github.com/bsdavidson/animated-gopher -->
        <img alt="gopher" data-gopher src="img/gopher.svg">
        {{ $animation := resources.Get "js/gopher-animation.min.js" }}
        <script src="{{$animation.RelPermalink}}"></script>
    </div>

    <div class="content">
        <a class="box box-section" href="/bibliografia">
            <!-- <img src=""> -->
            🗿
            <br>
            <br>
            <b>Bibliografía</b>
        </a>
        <a class="box box-section" href="/proyectos">
            <!-- <img src=""> -->
            🗃
            <br>
            <br>
            <b>Proyectos</b>
        </a>
        <a class="box box-section" href="/posts">
            <!-- <img src=""> -->
            📝
            <br>
            <br>
            <b>Posts</b>
        </a>
        <a class="box box-section" href="/colaboradores">
            <!-- <img src=""> -->
            🧙‍♂
            <br>
            <br>
            <b>Colaboradores</b>
        </a>
        <a class="box box-section" href="/contacto">
            <!-- <img src=""> -->
            🌎
            <br>
            <br>
            <b>Contactos</b>
        </a>
    </div>
</div>

{{ end }}
