{{ define "main" }}

<div class="home">
    <div class="home-head">
        <img alt="community" src="img/community.png" height="100px">
        <h2>Gophers LATAM</h2>
        <code>fmt.Println("Comunidad de programadores Golang en Español-Latino.")</code>
    </div>

    <div class="animation-gopher">
        <!-- https://github.com/bsdavidson/animated-gopher -->
        <img alt="gopher" data-gopher src="img/gopher.svg">
        {{ $animation := resources.Get "js/gopher-animation.min.js" }}
        <script src="{{$animation.RelPermalink}}"></script>
    </div>

    <div class="content">
        <a class="box box-section" href="/biografia">
            <!-- <img src=""> -->
            🗿
            <br>
            <br>
            <b>Biografía</b>
        </a>
        <a class="box box-section" href="/proyectos">
            <!-- <img src=""> -->
            🗃
            <br>
            <br>
            <b>Proyectos</b>
        </a>
        <a class="box box-section" href="/posts">
            <!-- <img src=""> -->
            📝
            <br>
            <br>
            <b>Posts</b>
        </a>
        <a class="box box-section" href="/colaboradores">
            <!-- <img src=""> -->
            🧙‍♂
            <br>
            <br>
            <b>Colaboradores</b>
        </a>
        <a class="box box-section" href="/contactos">
            <!-- <img src=""> -->
            🌎
            <br>
            <br>
            <b>Contactos</b>
        </a>
    </div>
</div>

{{ end }}
