.colabs {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.colabs article {
border: 1px solid #ddd;
box-shadow: 3px 3px 3px #ddd;
margin: 0.5%;
padding: 0.5%;
width: 20%;
}

.colabs img{
width: 45px;
height: 45px;
}