@import "vars";

html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.app-width {
  width: calc(100% - calc(#{$content-margin} * 2)) !important;
  padding-left: $content-margin !important;
  padding-right: $content-margin !important;
}

@media (min-width: $content-max-width + ($content-margin * 2)) {
  .app-width {
    width: $content-max-width !important;
    padding-left: calc(50% - calc(#{$content-max-width} / 2)) !important;
    padding-right: calc(50% - calc(#{$content-max-width} / 2)) !important;
  }
}

.box {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 0.5rem;
}
.box:hover {
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px #999;
}

a {
    text-decoration: none;
    color: #0013ff;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    mouse: pointer;
}
