nav {
display: flex;
flex-direction: column;
}

nav > a {
flex: 1;
text-align: center;
text-decoration: none;
color: #fff;
}

@media only screen and (min-width: 768px) {
nav { flex-direction: row; }
}
