@import "vars";

.post-list, .post-list-short {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .box-post {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33% - 3rem);
    justify-content: flex-end;
    margin: 0.5rem;
    padding: 1rem;
    align-items: stretch;

    .title {
      text-decoration: none;
      flex: 1;

      h3 {
        color: $second-color;
        flex-basis: 20%;
        font-size: 1.25em;
      }
    }

    .date {
      font-size: 0.9em;
      color: #818181;
    }

    .summary-container {
      max-height: 300px;
      overflow: hidden;

      figure {
        max-width: 300px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        figcaption { display: none }
      }

      p {
        font-size: 0.85em;
        color: #616161;
      }
    }
  }
}

.post {
  max-width: $display-mid-max;
  margin: auto;

  > * {
    margin: 2rem 0;
  }

  header {
    > * {
      margin: 2rem 0;
    }

    h2 { font-size: 2.5em }

    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .tag {
        margin: 0.25rem;
        padding: 0.5rem;
        border-radius: 5px;
        font-weight: bold;
        font-size: 0.9em;
        background-color: $second-color;
        color: white;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
      font-size: 0.9em;

      label { padding: 0.5rem 0 }
    }
  }

  a.tag {
    background-color: #ddd;
    color: #333;
    display: inline-block;
    padding: 0.1em;
    font-size: 0.9em;
    text-decoration: none;
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: auto;
      max-width: $display-mid-max;
      max-height: 400px;
      margin: auto;
      padding: 1rem;
    }

    figcaption {
      font-size: 0.8em;
      color: #666;
    }
  }

  .highlight {

    pre {
      padding: 1rem;
      border-radius: 5px;
      overflow: auto;
    }
  }
}

@media (max-width: #{$display-mid-max}) {
  .post-list {
    flex-direction: column;
  }

  .post figure img {
    max-width: 100%;
  }
}
