$first-color: #00acd7;
$second-color: #0086b3;

$header-height: 75px;

$content-max-width: 1000px;
$content-margin: 10px;

$display-sml-min: 0px;
$display-sml-max: 576px;
$display-mid-min: 576px;
$display-mid-max: 768px;
$display-big-min: 768px;
$display-big-max: 10000px;
