@media only screen and (min-width: 768px) {
.project-container { display: flex; }
.project-container .project-list { width: 20%; }
.project-container .project { flex: 1; }
}

a.tag {
background-color: #ddd;
color: #333;
display: inline-block;
padding: 0.1em;
font-size: 0.9em;
text-decoration: none;
}

#output li{
list-style:none;
}

figure img {
max-width: 100%;
height: auto;
}

@import "footer";
@import "global";
@import "header";
@import "navbar";

@import 'oss';

@import 'colabs';

@import 'pagination';
