@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@media only screen and (min-width: 768px) {
.project-container { display: flex; }
.project-container .project-list { width: 20%; }
.project-container .project { flex: 1; }
}

#output li{
list-style:none;
}

@import "posts";

@import "home";

@import "footer";

@import "global";

@import "header";

@import "navbar";

@import 'oss';

@import 'colabs';

@import 'pagination';
